<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formularios</title>
</head>
<body>
    <h1>Ingresa tu información</h1>
    <form action="/enviar_formulario" method="POST">
        <label>Nombre</label>
        <input type="text" name="nombre">
        <br>
        <label>Email</label>
        <input type="email" name="email">
        <br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>